.nobori {
  position: fixed;
  display: flex;
  top: 0px;
  left: 40px;
  opacity: 0;
  animation: fade 468ms ease forwards;
  animation-delay: 448ms;
  translate: 0 -0.4lh;

  span {
    background-color: #bc002d;
    color: var(--color-text-1);
    padding-block: 14px;
    padding-inline: 22px;
    font-size: 12px;
    writing-mode: vertical-lr;
    letter-spacing: 0.4ch;
    /* text-orientation: upright; */
  }
}
