.trail {
  display: flex;
  gap: 2ch;
  font-size: 10px;
  width: max-content;
  padding: 6px 8px;
  padding-right: 24px;
  border-radius: 200px;
  background-color: hsla(263, 16%, 10%, 0.9);
  border: 1px solid var(--color-text-4);
  backdrop-filter: blur(22px);
  align-items: center;
  position: sticky;
  top: 40px;
  color: var(--color-text-2);
  font-family: var(--font-t26);
  text-transform: uppercase;
  z-index: 2;

  menu {
    display: flex;
    flex-direction: row;
    gap: 2ch;

    span {
      opacity: 0.2;
    }

    a {
      &:last-child {
        opacity: 0.5;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--color-text-1);
        }
      }
    }
  }

  .options {
    display: flex;
    gap: 1ch;
    padding: 4px 2px;
    height: 26px;
    background-color: hsla(211, 13%, 61%, 0.01);
    border: 1px solid var(--color-text-4);
    border-radius: 200px;
    display: grid;
    place-content: center;

    .go-home {
      background: hsla(211, 13%, 61%, 0.04);
      border-radius: 200px;
      border: 1px solid var(--color-text-4);
      /* backdrop-filter: blur(10px); */
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: 1/1;
      margin: auto;
      z-index: 2;
      transition: all 424ms ease;

      svg {
        height: 22px;
      }

      &:hover {
        background-color: hsla(211, 13%, 61%, 0.2);
        transform: scale(1.1);
        color: #fff;
      }
    }

    .arrows {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 200px;
      height: 20px;
      grid-area: 1/1;
      margin: auto;
      background-color: hsla(211, 13%, 61%, 0.07);
      mask-image: radial-gradient(circle, transparent 18%, black 100%);

      .prev,
      .next {
        width: 34px;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: 4px;
        cursor: pointer;
        transition: all 424ms ease;
        border: 1px solid hsla(211, 13%, 61%, 0.1);
        svg {
          stroke-width: 2px;
        }

        &:hover {
          color: #fff;
          background-color: hsla(211, 13%, 61%, 0.4);
        }
      }

      .prev {
        justify-content: flex-start;
        border-bottom-left-radius: 200px;
        border-top-left-radius: 200px;

        &:hover {
          transform: translateX(-2px);
        }
      }

      .next {
        justify-content: flex-end;
        border-bottom-right-radius: 200px;
        border-top-right-radius: 200px;

        &:hover {
          transform: translateX(2px);
        }
      }
    }
  }
}
